input[type="checkbox"] {
    display: none;
}
.show-button{
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
  box-shadow: transparent;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}
.image{
    display: none;
}